@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Braah+One&display=swap');

:root {
  color-scheme: light dark;
  color: #213547;
  background: #f1f1f1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "Wix Madefor Display", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-title {
  font-family: 'Braah One', sans-serif;
  font-size: 4rem;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100vw;
  height: 100vh;
}

.size-full {
  height: 100vh;
  width: 100vw;
}

.button {
  color: #f1f1f1;
  border-radius: 12px;
  border: 1px solid purple;
  padding: 1rem 4rem;
  font-size: 1.2em;
  font-weight: 500;
  font-family: inherit;
  background: linear-gradient(45deg, rgba(255,102,0,1) 0%, rgba(153,0,204,1) 100%);
  cursor: pointer;
  transition: ease-in-out .3s;
}
.button:hover {
  background: linear-gradient(45deg, rgba(204,85,0,1) 0%, rgba(102,0,153,1) 100%);
}

.button-orange {
  background: #ff6600;
}
.button-orange:hover {
  background: #cc5500;
}

.button-select {
  padding: .5rem 1rem;
}

.container-center {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.container-home {
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.container-home img {
  width: 30%;
}

.border-effect {
  -webkit-box-shadow: 0px 0px 2px 0px #797979; 
  box-shadow: 0px 0px 2px 0px #797979;
}

.container-question {
  background: #f3f3f3;
  height: 80%;
  width: 80%;
  padding: 1rem 2rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.select-holder {
  display: flex;
  gap: 5rem;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}
.modal-content {
  background-color: #fefefe;
  margin: auto;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 1.5rem;
  border: 1px solid #888;
  width: 30%;
  font-size: 1rem;
}
.modal-content button {
  margin: 0;
  font-size: 1rem;
}

.logo-olimp {
  width: 15%;
}